body{
  background-color: lightgreen;
}
.items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
}
.item img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}
.item img:hover{
  transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
    margin-right: 65%;
    color: maroon;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-left: 5%;
}
.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: purple;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    margin-left: 4%;
  
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
.item button:hover{
   background-color:aqua;
   color: black;
}
h1{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
 margin-left: 20%;
 color: purple;
 margin-left: 5%;

}

@media screen and (max-width:600px){
       
}